### Johannes Best codes in the world

In [1]:
#import libraries
import numpy as np
import pandas as pd

In [7]:
#import data
features_df = pd.read_csv("C:/Users/johan/OneDrive/Copenhagen/CBS/3rd Semester/Applied ML/Assignment/AppliedML_Assignment/Assignment2/Data/Features data set.csv")
sales_df = pd.read_csv("C:/Users/johan/OneDrive/Copenhagen/CBS/3rd Semester/Applied ML/Assignment/AppliedML_Assignment/Assignment2/Data/sales data-set.csv")
store_df = pd.read_csv("C:/Users/johan/OneDrive/Copenhagen/CBS/3rd Semester/Applied ML/Assignment/AppliedML_Assignment/Assignment2/Data/stores data-set.csv")

In [8]:
features_df.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,12/02/2010,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,19/02/2010,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,26/02/2010,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,05/03/2010,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [16]:
store_id = features_df["Store"].unique()
store_id

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45], dtype=int64)

In [20]:
features_df.isna().sum()

Store              0
Date               0
Temperature        0
Fuel_Price         0
MarkDown1       4158
MarkDown2       5269
MarkDown3       4577
MarkDown4       4726
MarkDown5       4140
CPI              585
Unemployment     585
IsHoliday          0
dtype: int64

In [22]:
import pandas as pd

# Assuming features_df is your DataFrame
# First, filter the DataFrame to include only the relevant columns
selected_columns = ['Store', 'MarkDown1', 'MarkDown2', 'MarkDown3','MarkDown4', 'MarkDown5' ]
filtered_df = features_df[selected_columns]

# Then, group the data by the 'store' column and count the null values in each group
null_counts = filtered_df.groupby('Store').apply(lambda group: group.isnull().sum(axis=0))

# Now, null_counts contains the count of null values in the specified columns for each store
print(null_counts)

       Store  MarkDown1  MarkDown2  MarkDown3  MarkDown4  MarkDown5
Store
1          0         92        109         93         92         92
2          0         92        107         93         92         92
3          0         92        113        104         95         92
4          0         92        107         94         94         92
5          0         92        116        106         98         92
6          0         92        107         94         92         92
7          0         92        116         96         92         92
8          0         92        109         95         94         92
9          0         92        119        105         98         92
10         0         92        114         96         92         92
11         0         92        106         94         94         92
12         0         92        110         98         92         92
13         0         92        107         93         92         92
14         0         92        108         94         92         92
15         0         92        111         99         92         92
16         0         92        117        105         94         92
17         0         92        115        100         92         92
18         0         92        106         96         92         92
19         0         92        107         95         92         92
20         0         92        103         93         92         92
21         0         92        110         97         92         92
22         0         92        111         99         92         92
23         0         92        109         97         94         92
24         0         92        107         94         92         92
25         0         92        110         98         92         92
26         0         92        110         96         93         92
27         0         92        104         93         92         92
28         0         92        108         96         92         92
29         0         92        114         98         92         92
30         0         94        150        116        153         92
31         0         92        109         94         92         92
32         0         92        105         93         92         92
33         0         94        146        161        165         92
34         0         92        108         96         94         92
35         0         92        120         97         92         92
36         0         94        148        162        158         92
37         0         96        147        113        169         92
38         0         92        151        112        152         92
39         0         92        108         95         92         92
40         0         92        112         98         94         92
41         0         92        107         93         92         92
42         0         97        150        113        166         92
43         0         93        153        111        167         92
44         0         94        155        118        162         92
45         0         92        110         94         92         92